<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add notice</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
          integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>
<body th:class="text-center">
<h1 style="text-align: center">Add Comment</h1>
<h4 th:text="${user.user_id}"></h4>

<a href="/" class="btn btn-secondary btn-sm">Back</a>

<form action="#" th:action="@{/addComment}" th:object="${commentObj}" method="post">
    <div class="form-group">
        <label for="">Comment:</label>
        <textarea rows="4" cols="50" type="text" th:field="*{comment}" class="form-control" style="resize: none" Add you
                  text here...></textarea>
        <input type="hidden" th:field="*{notice}"/>
        <input type="hidden" th:field="*{user}"/>
    </div>
    <button class="btn btn-primary btn-sm" type="submit">Add</button>
</form>


</body>
</html>